.pa-navbar{
    background-color:#21263A;
    color: #FBFAFA;
}
.pa-navbar a:active{
    color: #FBFAFA;
}
.pa-navbar a:hover{
    color: #FBFAFA;
}
.pa-navbar a{
    color: #FBFAFA;
}
.pa-tb-row:hover{
    background-color: #21263A;
    color: #FBFAFA;
}
.pa-thead-row{
    background-color: #FBFAFA;
    color:#21263A;
    font-size: 130%;
}
.initDiv{
    margin: 0 -30px 0 -15px;
}
.mainLogo{
    width: 50px;
    height: 50px;
    margin: -10px -10px -10px -10px;
}
.button{
    background-color: #33CC89;
    color: #FBFAFA;
    border: none;
    font-size: 125%;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
.content-area{
    background-color: white;
    padding: 20px;
    margin: 20px 20%;
    box-shadow: 0px 0px 5px lightgray;
}
.textarea{
    background-color: #FBFAFA;
    border: none;
    box-shadow: #21263A 0px 0px 5px;
    width: 80%;
}
.button:hover{
    background-color: #30AF78;
    cursor: pointer;
}
.button:disabled{
    background-color: lightgray;
}
.label-chk{
    padding: 5px 15px;
}
.label-div{
    border: dashed lightGray 5px;
    margin: 0px 20px !important;
    font-weight: bolder;
}
.label-div:hover{
    background-color: #33CC89;
    border: dashed #30AF78 5px;
    cursor: pointer;
    color: white;
}
#label-div-selected {
    margin: 0px 20px !important;
    font-weight: bolder;
    background-color: #33CC89;
    border: dashed #30AF78 5px;
    cursor: pointer;
    color: white;
}
.default-input{
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    width: 80%;
    outline: none;
}
.default-input:hover{
    background-color: #FBFAFA;
}
.link{
    color: #30AF78;
}
.link:hover{
    color: #33CC89;
}
.arrow{
    margin: 30px 25px 0 0;
}
.txt-cen{
   padding: 0px 20px 0px 20px;
}
.txt-box{
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border: solid white 2px;
    width: 100%;
    height: 250px;
}
.txt-box:hover{
    border: dashed #33CC89 2px;
}
.date-box, .examples, .tests, .text-box{
    background-color: #FBFAFA;
    border: solid #33CC89 2px;
    margin-top: 25px;
}
.sub-date, .sub-examples{
    background-color: lightgrey;
    margin: 15px 30px;
    padding: 10px;
}
.under-note{
    background-color: lightgrey;
    margin: 0px -20px -20px -20px;
    padding: 10px 0px;
}
.default-input:focus{
    background-color: #FBFAFA;
    border-color: #30AF78;
    box-shadow: #30AF78;
}
.heading{
    padding-top: 20px !important;
    font-weight: bolder;
}
.loading{
    width: 50px;
    height: 50px;
}
.feedback{
    color: #30AF78;
    margin-bottom: 0px;
    padding: 5px;
}
.label{
    padding: 15px 5px;
}
input[type=radio]{
    display:none;
    background-color: black;
}
select{
    outline: none;
    background-color: white;
    border: dashed #33CC89 2px;
    width: 80%;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    padding: 15px;
    font-weight: bolder;
}
select:hover{
    background-color: #33CC89;
    color: white;
    cursor: pointer;
}
body{
    background-color: #FBFAFA !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}